.msgWrapper {
  width: 100%;
  padding: 40px;
  background: #dce9ff;
  display: flex;
  justify-content: center;
}

.msgContainer {
  width: 100%;
  max-width: 1200px;
  background: white;
  padding: 32px;
  border-radius: 18px;
  box-shadow: 0 8px 26px rgba(0, 0, 0, 0.09);
}

.msgHeading {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

/* SEARCH */
.msgSearchBar input {
  width: 100%;
  padding: 12px;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
  font-size: 15px;
  margin-bottom: 20px;
}

/* TABLE */
.msgTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
}

.msgTable thead {
  background: var(--prime-color);
  color: white;
}

.msgTable th,
.msgTable td {
  padding: 14px;
  border-bottom: 1px solid #ddd;
}

.previewCell {
  color: #555;
  font-style: italic;
}

.actionCell {
  display: flex;
  gap: 10px;
}

.viewBtn,
.deleteBtn {
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  border: none;
}

.viewBtn {
  background: #007bff;
  color: white;
}

.deleteBtn {
  background: #ff4b4b;
  color: white;
}

/* POPUP */
.msgModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.msgModalBox {
  background: white;
  padding: 25px;
  border-radius: 14px;
  width: 400px;
}

.fullMessage {
  margin-top: 10px;
}

.closeBtn {
  width: 100%;
  margin-top: 15px;
  background: var(--prime-color);
  padding: 12px;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
