.AdminSideBar {
  width: 300px;
  height: 100vh;
  background: color-mix(in srgb, var(--prime-color) 6%, transparent);
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 20px;
}

.Navigation {
  width: 100%;
}

.admin_nav {
  padding: 16px 28px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-right: 4px solid transparent;
  transition: 0.25s;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  color: var(--sendory-color);
}

.admin_nav:hover {
  background: color-mix(in srgb, var(--prime-color) 15%, white);
}

.active_nav {
  background: color-mix(in srgb, var(--prime-color) 25%, white);
  border-color: var(--prime-color);
}

.dropdown {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding-left: 15px;
}

.dropdown.open {
  max-height: 400px;
}

.projectMenu {
  padding: 14px 32px;
  display: block;
  font-size: 15px;
  color: #444;
  transition: 0.2s;
  border-left: 3px solid transparent;
}

.projectMenu:hover {
  background: rgba(0, 0, 0, 0.05);
}

.projectMenu.active {
  background: rgba(0, 0, 0, 0.08);
  color: var(--prime-color);
}
