.techWrapper {
  width: 100%;
  padding: 40px;
  background: #dce9ff;
  display: flex;
  justify-content: center;
}

.techContainer {
  width: 100%;
  max-width: 1200px;
  background: white;
  height: 100%;
  scrollbar-width: none;
  overflow-y: auto;
  padding: 32px;
  border-radius: 18px;
  box-shadow: 0 8px 26px rgba(0, 0, 0, 0.09);
}

.techHeading {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.techSearchBar input {
  width: 100%;
  padding: 12px;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
  font-size: 15px;
  margin-bottom: 20px;
}

.techTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
}

.techTable thead {
  background: var(--prime-color);
  color: white;
}

.techTable th,
.techTable td {
  padding: 14px;
  border-bottom: 1px solid #ddd;
}

.techImageBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.techImg {
  width: 50px;
  text-align: center;
}

.btnTechBox {
  text-align: center;
}

.editTech,
.delettech {
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  border: none;
}

.editTech {
  background: var(--prime-color);
  color: white;
}

.delettech {
  background: #ff4b4b;
  color: white;
}
